
<div class="py-4">
  <div class="pb-3">
    <span class="fw-bold fs-x-large">12px</span>
  </div>
  <div class="d-flex pb-3 flex-wrap-wrap">
        <div class="p-3"><AlertFill12 /></div>
    <div class="p-3"><CheckCircleFill12 /></div>
    <div class="p-3"><NoEntryFill12 /></div>
    <div class="p-3"><XCircleFill12 /></div>

  </div>
  <div class="pb-3">
    <span class="fw-bold fs-x-large">16px</span>
  </div>
  <div class="d-flex pb-3 flex-wrap-wrap">
        <div class="p-3"><Alert16 /></div>
    <div class="p-3"><Archive16 /></div>
    <div class="p-3"><ArrowBoth16 /></div>
    <div class="p-3"><ArrowDown16 /></div>
    <div class="p-3"><ArrowLeft16 /></div>
    <div class="p-3"><ArrowRight16 /></div>
    <div class="p-3"><ArrowSwitch16 /></div>
    <div class="p-3"><ArrowUp16 /></div>
    <div class="p-3"><Beaker16 /></div>
    <div class="p-3"><Bell16 /></div>
    <div class="p-3"><BellFill16 /></div>
    <div class="p-3"><BellSlash16 /></div>
    <div class="p-3"><Blocked16 /></div>
    <div class="p-3"><Bold16 /></div>
    <div class="p-3"><Book16 /></div>
    <div class="p-3"><Bookmark16 /></div>
    <div class="p-3"><BookmarkSlash16 /></div>
    <div class="p-3"><Briefcase16 /></div>
    <div class="p-3"><Broadcast16 /></div>
    <div class="p-3"><Browser16 /></div>
    <div class="p-3"><Bug16 /></div>
    <div class="p-3"><Calendar16 /></div>
    <div class="p-3"><Check16 /></div>
    <div class="p-3"><CheckCircle16 /></div>
    <div class="p-3"><CheckCircleFill16 /></div>
    <div class="p-3"><Checklist16 /></div>
    <div class="p-3"><ChevronDown16 /></div>
    <div class="p-3"><ChevronLeft16 /></div>
    <div class="p-3"><ChevronRight16 /></div>
    <div class="p-3"><ChevronUp16 /></div>
    <div class="p-3"><Circle16 /></div>
    <div class="p-3"><CircleSlash16 /></div>
    <div class="p-3"><Clock16 /></div>
    <div class="p-3"><Code16 /></div>
    <div class="p-3"><CodeReview16 /></div>
    <div class="p-3"><CodeSquare16 /></div>
    <div class="p-3"><Codescan16 /></div>
    <div class="p-3"><CodescanCheckmark16 /></div>
    <div class="p-3"><Codespaces16 /></div>
    <div class="p-3"><Columns16 /></div>
    <div class="p-3"><Comment16 /></div>
    <div class="p-3"><CommentDiscussion16 /></div>
    <div class="p-3"><Container16 /></div>
    <div class="p-3"><Copy16 /></div>
    <div class="p-3"><Cpu16 /></div>
    <div class="p-3"><CreditCard16 /></div>
    <div class="p-3"><CrossReference16 /></div>
    <div class="p-3"><Dash16 /></div>
    <div class="p-3"><Database16 /></div>
    <div class="p-3"><Dependabot16 /></div>
    <div class="p-3"><DesktopDownload16 /></div>
    <div class="p-3"><DeviceCamera16 /></div>
    <div class="p-3"><DeviceCameraVideo16 /></div>
    <div class="p-3"><DeviceDesktop16 /></div>
    <div class="p-3"><DeviceMobile16 /></div>
    <div class="p-3"><Diamond16 /></div>
    <div class="p-3"><Diff16 /></div>
    <div class="p-3"><DiffAdded16 /></div>
    <div class="p-3"><DiffIgnored16 /></div>
    <div class="p-3"><DiffModified16 /></div>
    <div class="p-3"><DiffRemoved16 /></div>
    <div class="p-3"><DiffRenamed16 /></div>
    <div class="p-3"><Dot16 /></div>
    <div class="p-3"><DotFill16 /></div>
    <div class="p-3"><Download16 /></div>
    <div class="p-3"><Duplicate16 /></div>
    <div class="p-3"><Ellipsis16 /></div>
    <div class="p-3"><Eye16 /></div>
    <div class="p-3"><EyeClosed16 /></div>
    <div class="p-3"><File16 /></div>
    <div class="p-3"><FileBadge16 /></div>
    <div class="p-3"><FileBinary16 /></div>
    <div class="p-3"><FileCode16 /></div>
    <div class="p-3"><FileDiff16 /></div>
    <div class="p-3"><FileDirectory16 /></div>
    <div class="p-3"><FileSubmodule16 /></div>
    <div class="p-3"><FileSymlinkFile16 /></div>
    <div class="p-3"><FileZip16 /></div>
    <div class="p-3"><Filter16 /></div>
    <div class="p-3"><Flame16 /></div>
    <div class="p-3"><Fold16 /></div>
    <div class="p-3"><FoldDown16 /></div>
    <div class="p-3"><FoldUp16 /></div>
    <div class="p-3"><Gear16 /></div>
    <div class="p-3"><Gift16 /></div>
    <div class="p-3"><GitBranch16 /></div>
    <div class="p-3"><GitCommit16 /></div>
    <div class="p-3"><GitCompare16 /></div>
    <div class="p-3"><GitMerge16 /></div>
    <div class="p-3"><GitPullRequest16 /></div>
    <div class="p-3"><GitPullRequestClosed16 /></div>
    <div class="p-3"><GitPullRequestDraft16 /></div>
    <div class="p-3"><Globe16 /></div>
    <div class="p-3"><Grabber16 /></div>
    <div class="p-3"><Graph16 /></div>
    <div class="p-3"><Hash16 /></div>
    <div class="p-3"><Heading16 /></div>
    <div class="p-3"><Heart16 /></div>
    <div class="p-3"><HeartFill16 /></div>
    <div class="p-3"><History16 /></div>
    <div class="p-3"><Home16 /></div>
    <div class="p-3"><HorizontalRule16 /></div>
    <div class="p-3"><Hourglass16 /></div>
    <div class="p-3"><Hubot16 /></div>
    <div class="p-3"><Image16 /></div>
    <div class="p-3"><Inbox16 /></div>
    <div class="p-3"><Infinity16 /></div>
    <div class="p-3"><Info16 /></div>
    <div class="p-3"><IssueClosed16 /></div>
    <div class="p-3"><IssueDraft16 /></div>
    <div class="p-3"><IssueOpened16 /></div>
    <div class="p-3"><IssueReopened16 /></div>
    <div class="p-3"><Italic16 /></div>
    <div class="p-3"><Iterations16 /></div>
    <div class="p-3"><KebabHorizontal16 /></div>
    <div class="p-3"><Key16 /></div>
    <div class="p-3"><KeyAsterisk16 /></div>
    <div class="p-3"><Law16 /></div>
    <div class="p-3"><LightBulb16 /></div>
    <div class="p-3"><Link16 /></div>
    <div class="p-3"><LinkExternal16 /></div>
    <div class="p-3"><ListOrdered16 /></div>
    <div class="p-3"><ListUnordered16 /></div>
    <div class="p-3"><Location16 /></div>
    <div class="p-3"><Lock16 /></div>
    <div class="p-3"><LogoGist16 /></div>
    <div class="p-3"><LogoGithub16 /></div>
    <div class="p-3"><Mail16 /></div>
    <div class="p-3"><MarkGithub16 /></div>
    <div class="p-3"><Markdown16 /></div>
    <div class="p-3"><Megaphone16 /></div>
    <div class="p-3"><Mention16 /></div>
    <div class="p-3"><Meter16 /></div>
    <div class="p-3"><Milestone16 /></div>
    <div class="p-3"><Mirror16 /></div>
    <div class="p-3"><Moon16 /></div>
    <div class="p-3"><MortarBoard16 /></div>
    <div class="p-3"><MultiSelect16 /></div>
    <div class="p-3"><Mute16 /></div>
    <div class="p-3"><NoEntry16 /></div>
    <div class="p-3"><NorthStar16 /></div>
    <div class="p-3"><Note16 /></div>
    <div class="p-3"><Number16 /></div>
    <div class="p-3"><Organization16 /></div>
    <div class="p-3"><Package16 /></div>
    <div class="p-3"><PackageDependencies16 /></div>
    <div class="p-3"><PackageDependents16 /></div>
    <div class="p-3"><Paintbrush16 /></div>
    <div class="p-3"><PaperAirplane16 /></div>
    <div class="p-3"><Paste16 /></div>
    <div class="p-3"><Pencil16 /></div>
    <div class="p-3"><People16 /></div>
    <div class="p-3"><Person16 /></div>
    <div class="p-3"><PersonAdd16 /></div>
    <div class="p-3"><PersonFill16 /></div>
    <div class="p-3"><Pin16 /></div>
    <div class="p-3"><Play16 /></div>
    <div class="p-3"><Plug16 /></div>
    <div class="p-3"><Plus16 /></div>
    <div class="p-3"><PlusCircle16 /></div>
    <div class="p-3"><Project16 /></div>
    <div class="p-3"><Pulse16 /></div>
    <div class="p-3"><Question16 /></div>
    <div class="p-3"><Quote16 /></div>
    <div class="p-3"><Reply16 /></div>
    <div class="p-3"><Repo16 /></div>
    <div class="p-3"><RepoClone16 /></div>
    <div class="p-3"><RepoForked16 /></div>
    <div class="p-3"><RepoPull16 /></div>
    <div class="p-3"><RepoPush16 /></div>
    <div class="p-3"><RepoTemplate16 /></div>
    <div class="p-3"><Report16 /></div>
    <div class="p-3"><Rocket16 /></div>
    <div class="p-3"><Rows16 /></div>
    <div class="p-3"><Rss16 /></div>
    <div class="p-3"><Ruby16 /></div>
    <div class="p-3"><ScreenFull16 /></div>
    <div class="p-3"><ScreenNormal16 /></div>
    <div class="p-3"><Search16 /></div>
    <div class="p-3"><Server16 /></div>
    <div class="p-3"><Share16 /></div>
    <div class="p-3"><ShareAndroid16 /></div>
    <div class="p-3"><Shield16 /></div>
    <div class="p-3"><ShieldCheck16 /></div>
    <div class="p-3"><ShieldLock16 /></div>
    <div class="p-3"><ShieldX16 /></div>
    <div class="p-3"><SidebarCollapse16 /></div>
    <div class="p-3"><SidebarExpand16 /></div>
    <div class="p-3"><SignIn16 /></div>
    <div class="p-3"><SignOut16 /></div>
    <div class="p-3"><SingleSelect16 /></div>
    <div class="p-3"><Skip16 /></div>
    <div class="p-3"><Smiley16 /></div>
    <div class="p-3"><SortAsc16 /></div>
    <div class="p-3"><SortDesc16 /></div>
    <div class="p-3"><Square16 /></div>
    <div class="p-3"><SquareFill16 /></div>
    <div class="p-3"><Squirrel16 /></div>
    <div class="p-3"><Stack16 /></div>
    <div class="p-3"><Star16 /></div>
    <div class="p-3"><StarFill16 /></div>
    <div class="p-3"><Stop16 /></div>
    <div class="p-3"><Stopwatch16 /></div>
    <div class="p-3"><Strikethrough16 /></div>
    <div class="p-3"><Sun16 /></div>
    <div class="p-3"><Sync16 /></div>
    <div class="p-3"><Table16 /></div>
    <div class="p-3"><Tag16 /></div>
    <div class="p-3"><Tasklist16 /></div>
    <div class="p-3"><Telescope16 /></div>
    <div class="p-3"><TelescopeFill16 /></div>
    <div class="p-3"><Terminal16 /></div>
    <div class="p-3"><ThreeBars16 /></div>
    <div class="p-3"><Thumbsdown16 /></div>
    <div class="p-3"><Thumbsup16 /></div>
    <div class="p-3"><Tools16 /></div>
    <div class="p-3"><Trash16 /></div>
    <div class="p-3"><TriangleDown16 /></div>
    <div class="p-3"><TriangleLeft16 /></div>
    <div class="p-3"><TriangleRight16 /></div>
    <div class="p-3"><TriangleUp16 /></div>
    <div class="p-3"><Typography16 /></div>
    <div class="p-3"><Unfold16 /></div>
    <div class="p-3"><Unlock16 /></div>
    <div class="p-3"><Unmute16 /></div>
    <div class="p-3"><Unverified16 /></div>
    <div class="p-3"><Upload16 /></div>
    <div class="p-3"><Verified16 /></div>
    <div class="p-3"><Versions16 /></div>
    <div class="p-3"><Video16 /></div>
    <div class="p-3"><Workflow16 /></div>
    <div class="p-3"><X16 /></div>
    <div class="p-3"><XCircle16 /></div>
    <div class="p-3"><XCircleFill16 /></div>
    <div class="p-3"><Zap16 /></div>

  </div>
  <div class="d-flex pb-3">
    <span class="fw-bold fs-x-large">24px</span>
  </div>
  <div class="d-flex pb-3 flex-wrap-wrap">
        <div class="p-3"><Alert24 /></div>
    <div class="p-3"><Archive24 /></div>
    <div class="p-3"><ArrowBoth24 /></div>
    <div class="p-3"><ArrowDown24 /></div>
    <div class="p-3"><ArrowDownLeft24 /></div>
    <div class="p-3"><ArrowDownRight24 /></div>
    <div class="p-3"><ArrowLeft24 /></div>
    <div class="p-3"><ArrowRight24 /></div>
    <div class="p-3"><ArrowSwitch24 /></div>
    <div class="p-3"><ArrowUp24 /></div>
    <div class="p-3"><ArrowUpLeft24 /></div>
    <div class="p-3"><ArrowUpRight24 /></div>
    <div class="p-3"><Beaker24 /></div>
    <div class="p-3"><Bell24 /></div>
    <div class="p-3"><BellFill24 /></div>
    <div class="p-3"><BellSlash24 /></div>
    <div class="p-3"><Blocked24 /></div>
    <div class="p-3"><Bold24 /></div>
    <div class="p-3"><Book24 /></div>
    <div class="p-3"><Bookmark24 /></div>
    <div class="p-3"><BookmarkFill24 /></div>
    <div class="p-3"><BookmarkSlash24 /></div>
    <div class="p-3"><BookmarkSlashFill24 /></div>
    <div class="p-3"><Briefcase24 /></div>
    <div class="p-3"><Broadcast24 /></div>
    <div class="p-3"><Browser24 /></div>
    <div class="p-3"><Bug24 /></div>
    <div class="p-3"><Calendar24 /></div>
    <div class="p-3"><Check24 /></div>
    <div class="p-3"><CheckCircle24 /></div>
    <div class="p-3"><CheckCircleFill24 /></div>
    <div class="p-3"><Checklist24 /></div>
    <div class="p-3"><ChevronDown24 /></div>
    <div class="p-3"><ChevronLeft24 /></div>
    <div class="p-3"><ChevronRight24 /></div>
    <div class="p-3"><ChevronUp24 /></div>
    <div class="p-3"><Circle24 /></div>
    <div class="p-3"><CircleSlash24 /></div>
    <div class="p-3"><Clock24 /></div>
    <div class="p-3"><Code24 /></div>
    <div class="p-3"><CodeReview24 /></div>
    <div class="p-3"><CodeSquare24 /></div>
    <div class="p-3"><Codescan24 /></div>
    <div class="p-3"><CodescanCheckmark24 /></div>
    <div class="p-3"><Codespaces24 /></div>
    <div class="p-3"><Columns24 /></div>
    <div class="p-3"><Comment24 /></div>
    <div class="p-3"><CommentDiscussion24 /></div>
    <div class="p-3"><Commit24 /></div>
    <div class="p-3"><Container24 /></div>
    <div class="p-3"><Copy24 /></div>
    <div class="p-3"><Cpu24 /></div>
    <div class="p-3"><CreditCard24 /></div>
    <div class="p-3"><CrossReference24 /></div>
    <div class="p-3"><Dash24 /></div>
    <div class="p-3"><Database24 /></div>
    <div class="p-3"><Dependabot24 /></div>
    <div class="p-3"><DesktopDownload24 /></div>
    <div class="p-3"><DeviceCameraVideo24 /></div>
    <div class="p-3"><DeviceDesktop24 /></div>
    <div class="p-3"><DeviceMobile24 /></div>
    <div class="p-3"><Diamond24 /></div>
    <div class="p-3"><Diff24 /></div>
    <div class="p-3"><Dot24 /></div>
    <div class="p-3"><DotFill24 /></div>
    <div class="p-3"><Download24 /></div>
    <div class="p-3"><Duplicate24 /></div>
    <div class="p-3"><Eye24 /></div>
    <div class="p-3"><EyeClosed24 /></div>
    <div class="p-3"><File24 /></div>
    <div class="p-3"><FileBinary24 /></div>
    <div class="p-3"><FileCode24 /></div>
    <div class="p-3"><FileDiff24 /></div>
    <div class="p-3"><FileDirectory24 /></div>
    <div class="p-3"><FileDirectoryFill24 /></div>
    <div class="p-3"><FileMedia24 /></div>
    <div class="p-3"><FileSubmodule24 /></div>
    <div class="p-3"><FileSymlinkFile24 /></div>
    <div class="p-3"><FileZip24 /></div>
    <div class="p-3"><Filter24 /></div>
    <div class="p-3"><Flame24 /></div>
    <div class="p-3"><Fold24 /></div>
    <div class="p-3"><FoldDown24 /></div>
    <div class="p-3"><FoldUp24 /></div>
    <div class="p-3"><Gear24 /></div>
    <div class="p-3"><Gift24 /></div>
    <div class="p-3"><GitBranch24 /></div>
    <div class="p-3"><GitCommit24 /></div>
    <div class="p-3"><GitCompare24 /></div>
    <div class="p-3"><GitMerge24 /></div>
    <div class="p-3"><GitPullRequest24 /></div>
    <div class="p-3"><GitPullRequestClosed24 /></div>
    <div class="p-3"><GitPullRequestDraft24 /></div>
    <div class="p-3"><Globe24 /></div>
    <div class="p-3"><Grabber24 /></div>
    <div class="p-3"><Graph24 /></div>
    <div class="p-3"><Hash24 /></div>
    <div class="p-3"><Heading24 /></div>
    <div class="p-3"><Heart24 /></div>
    <div class="p-3"><HeartFill24 /></div>
    <div class="p-3"><History24 /></div>
    <div class="p-3"><Home24 /></div>
    <div class="p-3"><HomeFill24 /></div>
    <div class="p-3"><HorizontalRule24 /></div>
    <div class="p-3"><Hourglass24 /></div>
    <div class="p-3"><Hubot24 /></div>
    <div class="p-3"><Image24 /></div>
    <div class="p-3"><Inbox24 /></div>
    <div class="p-3"><Infinity24 /></div>
    <div class="p-3"><Info24 /></div>
    <div class="p-3"><IssueClosed24 /></div>
    <div class="p-3"><IssueDraft24 /></div>
    <div class="p-3"><IssueOpened24 /></div>
    <div class="p-3"><IssueReopened24 /></div>
    <div class="p-3"><Italic24 /></div>
    <div class="p-3"><Iterations24 /></div>
    <div class="p-3"><KebabHorizontal24 /></div>
    <div class="p-3"><Key24 /></div>
    <div class="p-3"><Law24 /></div>
    <div class="p-3"><LightBulb24 /></div>
    <div class="p-3"><Link24 /></div>
    <div class="p-3"><LinkExternal24 /></div>
    <div class="p-3"><ListOrdered24 /></div>
    <div class="p-3"><ListUnordered24 /></div>
    <div class="p-3"><Location24 /></div>
    <div class="p-3"><Lock24 /></div>
    <div class="p-3"><Mail24 /></div>
    <div class="p-3"><Megaphone24 /></div>
    <div class="p-3"><Mention24 /></div>
    <div class="p-3"><Milestone24 /></div>
    <div class="p-3"><Mirror24 /></div>
    <div class="p-3"><Moon24 /></div>
    <div class="p-3"><MortarBoard24 /></div>
    <div class="p-3"><MultiSelect24 /></div>
    <div class="p-3"><Mute24 /></div>
    <div class="p-3"><NoEntry24 /></div>
    <div class="p-3"><NorthStar24 /></div>
    <div class="p-3"><Note24 /></div>
    <div class="p-3"><Number24 /></div>
    <div class="p-3"><Organization24 /></div>
    <div class="p-3"><Package24 /></div>
    <div class="p-3"><PackageDependencies24 /></div>
    <div class="p-3"><PackageDependents24 /></div>
    <div class="p-3"><PaperAirplane24 /></div>
    <div class="p-3"><Paste24 /></div>
    <div class="p-3"><Pencil24 /></div>
    <div class="p-3"><People24 /></div>
    <div class="p-3"><Person24 /></div>
    <div class="p-3"><PersonAdd24 /></div>
    <div class="p-3"><PersonFill24 /></div>
    <div class="p-3"><Pin24 /></div>
    <div class="p-3"><Play24 /></div>
    <div class="p-3"><Plug24 /></div>
    <div class="p-3"><Plus24 /></div>
    <div class="p-3"><PlusCircle24 /></div>
    <div class="p-3"><Project24 /></div>
    <div class="p-3"><Pulse24 /></div>
    <div class="p-3"><Question24 /></div>
    <div class="p-3"><Quote24 /></div>
    <div class="p-3"><Reply24 /></div>
    <div class="p-3"><Repo24 /></div>
    <div class="p-3"><RepoForked24 /></div>
    <div class="p-3"><RepoPush24 /></div>
    <div class="p-3"><RepoTemplate24 /></div>
    <div class="p-3"><Report24 /></div>
    <div class="p-3"><Rocket24 /></div>
    <div class="p-3"><Rows24 /></div>
    <div class="p-3"><Rss24 /></div>
    <div class="p-3"><Ruby24 /></div>
    <div class="p-3"><ScreenFull24 /></div>
    <div class="p-3"><ScreenNormal24 /></div>
    <div class="p-3"><Search24 /></div>
    <div class="p-3"><Server24 /></div>
    <div class="p-3"><Share24 /></div>
    <div class="p-3"><ShareAndroid24 /></div>
    <div class="p-3"><Shield24 /></div>
    <div class="p-3"><ShieldCheck24 /></div>
    <div class="p-3"><ShieldLock24 /></div>
    <div class="p-3"><ShieldX24 /></div>
    <div class="p-3"><SidebarCollapse24 /></div>
    <div class="p-3"><SidebarExpand24 /></div>
    <div class="p-3"><SignIn24 /></div>
    <div class="p-3"><SignOut24 /></div>
    <div class="p-3"><SingleSelect24 /></div>
    <div class="p-3"><Skip24 /></div>
    <div class="p-3"><Smiley24 /></div>
    <div class="p-3"><SortAsc24 /></div>
    <div class="p-3"><SortDesc24 /></div>
    <div class="p-3"><Square24 /></div>
    <div class="p-3"><SquareFill24 /></div>
    <div class="p-3"><Squirrel24 /></div>
    <div class="p-3"><Stack24 /></div>
    <div class="p-3"><Star24 /></div>
    <div class="p-3"><StarFill24 /></div>
    <div class="p-3"><Stop24 /></div>
    <div class="p-3"><Stopwatch24 /></div>
    <div class="p-3"><Strikethrough24 /></div>
    <div class="p-3"><Sun24 /></div>
    <div class="p-3"><Sync24 /></div>
    <div class="p-3"><Tab24 /></div>
    <div class="p-3"><Table24 /></div>
    <div class="p-3"><Tag24 /></div>
    <div class="p-3"><Tasklist24 /></div>
    <div class="p-3"><Telescope24 /></div>
    <div class="p-3"><TelescopeFill24 /></div>
    <div class="p-3"><Terminal24 /></div>
    <div class="p-3"><Thumbsdown24 /></div>
    <div class="p-3"><Thumbsup24 /></div>
    <div class="p-3"><Tools24 /></div>
    <div class="p-3"><Trash24 /></div>
    <div class="p-3"><TriangleDown24 /></div>
    <div class="p-3"><TriangleLeft24 /></div>
    <div class="p-3"><TriangleRight24 /></div>
    <div class="p-3"><TriangleUp24 /></div>
    <div class="p-3"><Typography24 /></div>
    <div class="p-3"><Unfold24 /></div>
    <div class="p-3"><Unlock24 /></div>
    <div class="p-3"><Unmute24 /></div>
    <div class="p-3"><Unverified24 /></div>
    <div class="p-3"><Upload24 /></div>
    <div class="p-3"><Verified24 /></div>
    <div class="p-3"><Versions24 /></div>
    <div class="p-3"><Video24 /></div>
    <div class="p-3"><Workflow24 /></div>
    <div class="p-3"><X24 /></div>
    <div class="p-3"><XCircle24 /></div>
    <div class="p-3"><XCircleFill24 /></div>
    <div class="p-3"><Zap24 /></div>

  </div>
</div>