
<div class="py-4">
  <div class="pb-3">
    <span class="fw-bold fs-x-large">12px</span>
  </div>
  <div class="d-flex pb-3 flex-wrap-wrap">
        <div class="p-3"><a href="/Icon/AlertFill12"><AlertFill12 /></a></div>
    <div class="p-3"><a href="/Icon/CheckCircleFill12"><CheckCircleFill12 /></a></div>
    <div class="p-3"><a href="/Icon/ChevronDown12"><ChevronDown12 /></a></div>
    <div class="p-3"><a href="/Icon/ChevronRight12"><ChevronRight12 /></a></div>
    <div class="p-3"><a href="/Icon/ChevronUp12"><ChevronUp12 /></a></div>
    <div class="p-3"><a href="/Icon/NoEntryFill12"><NoEntryFill12 /></a></div>
    <div class="p-3"><a href="/Icon/X12"><X12 /></a></div>
    <div class="p-3"><a href="/Icon/XCircleFill12"><XCircleFill12 /></a></div>

  </div>
  <div class="pb-3">
    <span class="fw-bold fs-x-large">16px</span>
  </div>
  <div class="d-flex pb-3 flex-wrap-wrap">
        <div class="p-3"><a href="/Icon/Accessibility16"><Accessibility16 /></a></div>
    <div class="p-3"><a href="/Icon/AccessibilityInset16"><AccessibilityInset16 /></a></div>
    <div class="p-3"><a href="/Icon/Alert16"><Alert16 /></a></div>
    <div class="p-3"><a href="/Icon/AlertFill16"><AlertFill16 /></a></div>
    <div class="p-3"><a href="/Icon/Apps16"><Apps16 /></a></div>
    <div class="p-3"><a href="/Icon/Archive16"><Archive16 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowBoth16"><ArrowBoth16 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowDown16"><ArrowDown16 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowDownLeft16"><ArrowDownLeft16 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowDownRight16"><ArrowDownRight16 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowLeft16"><ArrowLeft16 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowRight16"><ArrowRight16 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowSwitch16"><ArrowSwitch16 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowUp16"><ArrowUp16 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowUpLeft16"><ArrowUpLeft16 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowUpRight16"><ArrowUpRight16 /></a></div>
    <div class="p-3"><a href="/Icon/Beaker16"><Beaker16 /></a></div>
    <div class="p-3"><a href="/Icon/Bell16"><Bell16 /></a></div>
    <div class="p-3"><a href="/Icon/BellFill16"><BellFill16 /></a></div>
    <div class="p-3"><a href="/Icon/BellSlash16"><BellSlash16 /></a></div>
    <div class="p-3"><a href="/Icon/Blocked16"><Blocked16 /></a></div>
    <div class="p-3"><a href="/Icon/Bold16"><Bold16 /></a></div>
    <div class="p-3"><a href="/Icon/Book16"><Book16 /></a></div>
    <div class="p-3"><a href="/Icon/Bookmark16"><Bookmark16 /></a></div>
    <div class="p-3"><a href="/Icon/BookmarkSlash16"><BookmarkSlash16 /></a></div>
    <div class="p-3"><a href="/Icon/Briefcase16"><Briefcase16 /></a></div>
    <div class="p-3"><a href="/Icon/Broadcast16"><Broadcast16 /></a></div>
    <div class="p-3"><a href="/Icon/Browser16"><Browser16 /></a></div>
    <div class="p-3"><a href="/Icon/Bug16"><Bug16 /></a></div>
    <div class="p-3"><a href="/Icon/Cache16"><Cache16 /></a></div>
    <div class="p-3"><a href="/Icon/Calendar16"><Calendar16 /></a></div>
    <div class="p-3"><a href="/Icon/Check16"><Check16 /></a></div>
    <div class="p-3"><a href="/Icon/CheckCircle16"><CheckCircle16 /></a></div>
    <div class="p-3"><a href="/Icon/CheckCircleFill16"><CheckCircleFill16 /></a></div>
    <div class="p-3"><a href="/Icon/Checkbox16"><Checkbox16 /></a></div>
    <div class="p-3"><a href="/Icon/Checklist16"><Checklist16 /></a></div>
    <div class="p-3"><a href="/Icon/ChevronDown16"><ChevronDown16 /></a></div>
    <div class="p-3"><a href="/Icon/ChevronLeft16"><ChevronLeft16 /></a></div>
    <div class="p-3"><a href="/Icon/ChevronRight16"><ChevronRight16 /></a></div>
    <div class="p-3"><a href="/Icon/ChevronUp16"><ChevronUp16 /></a></div>
    <div class="p-3"><a href="/Icon/Circle16"><Circle16 /></a></div>
    <div class="p-3"><a href="/Icon/CircleSlash16"><CircleSlash16 /></a></div>
    <div class="p-3"><a href="/Icon/Clock16"><Clock16 /></a></div>
    <div class="p-3"><a href="/Icon/ClockFill16"><ClockFill16 /></a></div>
    <div class="p-3"><a href="/Icon/Cloud16"><Cloud16 /></a></div>
    <div class="p-3"><a href="/Icon/CloudOffline16"><CloudOffline16 /></a></div>
    <div class="p-3"><a href="/Icon/Code16"><Code16 /></a></div>
    <div class="p-3"><a href="/Icon/CodeOfConduct16"><CodeOfConduct16 /></a></div>
    <div class="p-3"><a href="/Icon/CodeReview16"><CodeReview16 /></a></div>
    <div class="p-3"><a href="/Icon/CodeSquare16"><CodeSquare16 /></a></div>
    <div class="p-3"><a href="/Icon/Codescan16"><Codescan16 /></a></div>
    <div class="p-3"><a href="/Icon/CodescanCheckmark16"><CodescanCheckmark16 /></a></div>
    <div class="p-3"><a href="/Icon/Codespaces16"><Codespaces16 /></a></div>
    <div class="p-3"><a href="/Icon/Columns16"><Columns16 /></a></div>
    <div class="p-3"><a href="/Icon/CommandPalette16"><CommandPalette16 /></a></div>
    <div class="p-3"><a href="/Icon/Comment16"><Comment16 /></a></div>
    <div class="p-3"><a href="/Icon/CommentDiscussion16"><CommentDiscussion16 /></a></div>
    <div class="p-3"><a href="/Icon/Container16"><Container16 /></a></div>
    <div class="p-3"><a href="/Icon/Copilot16"><Copilot16 /></a></div>
    <div class="p-3"><a href="/Icon/CopilotError16"><CopilotError16 /></a></div>
    <div class="p-3"><a href="/Icon/CopilotWarning16"><CopilotWarning16 /></a></div>
    <div class="p-3"><a href="/Icon/Copy16"><Copy16 /></a></div>
    <div class="p-3"><a href="/Icon/Cpu16"><Cpu16 /></a></div>
    <div class="p-3"><a href="/Icon/CreditCard16"><CreditCard16 /></a></div>
    <div class="p-3"><a href="/Icon/CrossReference16"><CrossReference16 /></a></div>
    <div class="p-3"><a href="/Icon/Dash16"><Dash16 /></a></div>
    <div class="p-3"><a href="/Icon/Database16"><Database16 /></a></div>
    <div class="p-3"><a href="/Icon/Dependabot16"><Dependabot16 /></a></div>
    <div class="p-3"><a href="/Icon/DesktopDownload16"><DesktopDownload16 /></a></div>
    <div class="p-3"><a href="/Icon/DeviceCamera16"><DeviceCamera16 /></a></div>
    <div class="p-3"><a href="/Icon/DeviceCameraVideo16"><DeviceCameraVideo16 /></a></div>
    <div class="p-3"><a href="/Icon/DeviceDesktop16"><DeviceDesktop16 /></a></div>
    <div class="p-3"><a href="/Icon/DeviceMobile16"><DeviceMobile16 /></a></div>
    <div class="p-3"><a href="/Icon/Devices16"><Devices16 /></a></div>
    <div class="p-3"><a href="/Icon/Diamond16"><Diamond16 /></a></div>
    <div class="p-3"><a href="/Icon/Diff16"><Diff16 /></a></div>
    <div class="p-3"><a href="/Icon/DiffAdded16"><DiffAdded16 /></a></div>
    <div class="p-3"><a href="/Icon/DiffIgnored16"><DiffIgnored16 /></a></div>
    <div class="p-3"><a href="/Icon/DiffModified16"><DiffModified16 /></a></div>
    <div class="p-3"><a href="/Icon/DiffRemoved16"><DiffRemoved16 /></a></div>
    <div class="p-3"><a href="/Icon/DiffRenamed16"><DiffRenamed16 /></a></div>
    <div class="p-3"><a href="/Icon/DiscussionClosed16"><DiscussionClosed16 /></a></div>
    <div class="p-3"><a href="/Icon/DiscussionDuplicate16"><DiscussionDuplicate16 /></a></div>
    <div class="p-3"><a href="/Icon/DiscussionOutdated16"><DiscussionOutdated16 /></a></div>
    <div class="p-3"><a href="/Icon/Dot16"><Dot16 /></a></div>
    <div class="p-3"><a href="/Icon/DotFill16"><DotFill16 /></a></div>
    <div class="p-3"><a href="/Icon/Download16"><Download16 /></a></div>
    <div class="p-3"><a href="/Icon/Duplicate16"><Duplicate16 /></a></div>
    <div class="p-3"><a href="/Icon/Ellipsis16"><Ellipsis16 /></a></div>
    <div class="p-3"><a href="/Icon/Eye16"><Eye16 /></a></div>
    <div class="p-3"><a href="/Icon/EyeClosed16"><EyeClosed16 /></a></div>
    <div class="p-3"><a href="/Icon/FeedDiscussion16"><FeedDiscussion16 /></a></div>
    <div class="p-3"><a href="/Icon/FeedForked16"><FeedForked16 /></a></div>
    <div class="p-3"><a href="/Icon/FeedHeart16"><FeedHeart16 /></a></div>
    <div class="p-3"><a href="/Icon/FeedMerged16"><FeedMerged16 /></a></div>
    <div class="p-3"><a href="/Icon/FeedPerson16"><FeedPerson16 /></a></div>
    <div class="p-3"><a href="/Icon/FeedRepo16"><FeedRepo16 /></a></div>
    <div class="p-3"><a href="/Icon/FeedRocket16"><FeedRocket16 /></a></div>
    <div class="p-3"><a href="/Icon/FeedStar16"><FeedStar16 /></a></div>
    <div class="p-3"><a href="/Icon/FeedTag16"><FeedTag16 /></a></div>
    <div class="p-3"><a href="/Icon/FeedTrophy16"><FeedTrophy16 /></a></div>
    <div class="p-3"><a href="/Icon/File16"><File16 /></a></div>
    <div class="p-3"><a href="/Icon/FileAdded16"><FileAdded16 /></a></div>
    <div class="p-3"><a href="/Icon/FileBadge16"><FileBadge16 /></a></div>
    <div class="p-3"><a href="/Icon/FileBinary16"><FileBinary16 /></a></div>
    <div class="p-3"><a href="/Icon/FileCode16"><FileCode16 /></a></div>
    <div class="p-3"><a href="/Icon/FileDiff16"><FileDiff16 /></a></div>
    <div class="p-3"><a href="/Icon/FileDirectory16"><FileDirectory16 /></a></div>
    <div class="p-3"><a href="/Icon/FileDirectoryFill16"><FileDirectoryFill16 /></a></div>
    <div class="p-3"><a href="/Icon/FileDirectoryOpenFill16"><FileDirectoryOpenFill16 /></a></div>
    <div class="p-3"><a href="/Icon/FileDirectorySymlink16"><FileDirectorySymlink16 /></a></div>
    <div class="p-3"><a href="/Icon/FileMoved16"><FileMoved16 /></a></div>
    <div class="p-3"><a href="/Icon/FileRemoved16"><FileRemoved16 /></a></div>
    <div class="p-3"><a href="/Icon/FileSubmodule16"><FileSubmodule16 /></a></div>
    <div class="p-3"><a href="/Icon/FileSymlinkFile16"><FileSymlinkFile16 /></a></div>
    <div class="p-3"><a href="/Icon/FileZip16"><FileZip16 /></a></div>
    <div class="p-3"><a href="/Icon/Filter16"><Filter16 /></a></div>
    <div class="p-3"><a href="/Icon/FiscalHost16"><FiscalHost16 /></a></div>
    <div class="p-3"><a href="/Icon/Flame16"><Flame16 /></a></div>
    <div class="p-3"><a href="/Icon/Fold16"><Fold16 /></a></div>
    <div class="p-3"><a href="/Icon/FoldDown16"><FoldDown16 /></a></div>
    <div class="p-3"><a href="/Icon/FoldUp16"><FoldUp16 /></a></div>
    <div class="p-3"><a href="/Icon/Gear16"><Gear16 /></a></div>
    <div class="p-3"><a href="/Icon/Gift16"><Gift16 /></a></div>
    <div class="p-3"><a href="/Icon/GitBranch16"><GitBranch16 /></a></div>
    <div class="p-3"><a href="/Icon/GitCommit16"><GitCommit16 /></a></div>
    <div class="p-3"><a href="/Icon/GitCompare16"><GitCompare16 /></a></div>
    <div class="p-3"><a href="/Icon/GitMerge16"><GitMerge16 /></a></div>
    <div class="p-3"><a href="/Icon/GitMergeQueue16"><GitMergeQueue16 /></a></div>
    <div class="p-3"><a href="/Icon/GitPullRequest16"><GitPullRequest16 /></a></div>
    <div class="p-3"><a href="/Icon/GitPullRequestClosed16"><GitPullRequestClosed16 /></a></div>
    <div class="p-3"><a href="/Icon/GitPullRequestDraft16"><GitPullRequestDraft16 /></a></div>
    <div class="p-3"><a href="/Icon/Globe16"><Globe16 /></a></div>
    <div class="p-3"><a href="/Icon/Goal16"><Goal16 /></a></div>
    <div class="p-3"><a href="/Icon/Grabber16"><Grabber16 /></a></div>
    <div class="p-3"><a href="/Icon/Graph16"><Graph16 /></a></div>
    <div class="p-3"><a href="/Icon/Hash16"><Hash16 /></a></div>
    <div class="p-3"><a href="/Icon/Heading16"><Heading16 /></a></div>
    <div class="p-3"><a href="/Icon/Heart16"><Heart16 /></a></div>
    <div class="p-3"><a href="/Icon/HeartFill16"><HeartFill16 /></a></div>
    <div class="p-3"><a href="/Icon/History16"><History16 /></a></div>
    <div class="p-3"><a href="/Icon/Home16"><Home16 /></a></div>
    <div class="p-3"><a href="/Icon/HorizontalRule16"><HorizontalRule16 /></a></div>
    <div class="p-3"><a href="/Icon/Hourglass16"><Hourglass16 /></a></div>
    <div class="p-3"><a href="/Icon/Hubot16"><Hubot16 /></a></div>
    <div class="p-3"><a href="/Icon/IdBadge16"><IdBadge16 /></a></div>
    <div class="p-3"><a href="/Icon/Image16"><Image16 /></a></div>
    <div class="p-3"><a href="/Icon/Inbox16"><Inbox16 /></a></div>
    <div class="p-3"><a href="/Icon/Infinity16"><Infinity16 /></a></div>
    <div class="p-3"><a href="/Icon/Info16"><Info16 /></a></div>
    <div class="p-3"><a href="/Icon/IssueClosed16"><IssueClosed16 /></a></div>
    <div class="p-3"><a href="/Icon/IssueDraft16"><IssueDraft16 /></a></div>
    <div class="p-3"><a href="/Icon/IssueOpened16"><IssueOpened16 /></a></div>
    <div class="p-3"><a href="/Icon/IssueReopened16"><IssueReopened16 /></a></div>
    <div class="p-3"><a href="/Icon/IssueTrackedBy16"><IssueTrackedBy16 /></a></div>
    <div class="p-3"><a href="/Icon/IssueTracks16"><IssueTracks16 /></a></div>
    <div class="p-3"><a href="/Icon/Italic16"><Italic16 /></a></div>
    <div class="p-3"><a href="/Icon/Iterations16"><Iterations16 /></a></div>
    <div class="p-3"><a href="/Icon/KebabHorizontal16"><KebabHorizontal16 /></a></div>
    <div class="p-3"><a href="/Icon/Key16"><Key16 /></a></div>
    <div class="p-3"><a href="/Icon/KeyAsterisk16"><KeyAsterisk16 /></a></div>
    <div class="p-3"><a href="/Icon/Law16"><Law16 /></a></div>
    <div class="p-3"><a href="/Icon/LightBulb16"><LightBulb16 /></a></div>
    <div class="p-3"><a href="/Icon/Link16"><Link16 /></a></div>
    <div class="p-3"><a href="/Icon/LinkExternal16"><LinkExternal16 /></a></div>
    <div class="p-3"><a href="/Icon/ListOrdered16"><ListOrdered16 /></a></div>
    <div class="p-3"><a href="/Icon/ListUnordered16"><ListUnordered16 /></a></div>
    <div class="p-3"><a href="/Icon/Location16"><Location16 /></a></div>
    <div class="p-3"><a href="/Icon/Lock16"><Lock16 /></a></div>
    <div class="p-3"><a href="/Icon/Log16"><Log16 /></a></div>
    <div class="p-3"><a href="/Icon/LogoGist16"><LogoGist16 /></a></div>
    <div class="p-3"><a href="/Icon/LogoGithub16"><LogoGithub16 /></a></div>
    <div class="p-3"><a href="/Icon/Mail16"><Mail16 /></a></div>
    <div class="p-3"><a href="/Icon/MarkGithub16"><MarkGithub16 /></a></div>
    <div class="p-3"><a href="/Icon/Markdown16"><Markdown16 /></a></div>
    <div class="p-3"><a href="/Icon/Megaphone16"><Megaphone16 /></a></div>
    <div class="p-3"><a href="/Icon/Mention16"><Mention16 /></a></div>
    <div class="p-3"><a href="/Icon/Meter16"><Meter16 /></a></div>
    <div class="p-3"><a href="/Icon/Milestone16"><Milestone16 /></a></div>
    <div class="p-3"><a href="/Icon/Mirror16"><Mirror16 /></a></div>
    <div class="p-3"><a href="/Icon/Moon16"><Moon16 /></a></div>
    <div class="p-3"><a href="/Icon/MortarBoard16"><MortarBoard16 /></a></div>
    <div class="p-3"><a href="/Icon/MoveToBottom16"><MoveToBottom16 /></a></div>
    <div class="p-3"><a href="/Icon/MoveToEnd16"><MoveToEnd16 /></a></div>
    <div class="p-3"><a href="/Icon/MoveToStart16"><MoveToStart16 /></a></div>
    <div class="p-3"><a href="/Icon/MoveToTop16"><MoveToTop16 /></a></div>
    <div class="p-3"><a href="/Icon/MultiSelect16"><MultiSelect16 /></a></div>
    <div class="p-3"><a href="/Icon/Mute16"><Mute16 /></a></div>
    <div class="p-3"><a href="/Icon/NoEntry16"><NoEntry16 /></a></div>
    <div class="p-3"><a href="/Icon/NorthStar16"><NorthStar16 /></a></div>
    <div class="p-3"><a href="/Icon/Note16"><Note16 /></a></div>
    <div class="p-3"><a href="/Icon/Number16"><Number16 /></a></div>
    <div class="p-3"><a href="/Icon/Organization16"><Organization16 /></a></div>
    <div class="p-3"><a href="/Icon/Package16"><Package16 /></a></div>
    <div class="p-3"><a href="/Icon/PackageDependencies16"><PackageDependencies16 /></a></div>
    <div class="p-3"><a href="/Icon/PackageDependents16"><PackageDependents16 /></a></div>
    <div class="p-3"><a href="/Icon/Paintbrush16"><Paintbrush16 /></a></div>
    <div class="p-3"><a href="/Icon/PaperAirplane16"><PaperAirplane16 /></a></div>
    <div class="p-3"><a href="/Icon/Paperclip16"><Paperclip16 /></a></div>
    <div class="p-3"><a href="/Icon/PasskeyFill16"><PasskeyFill16 /></a></div>
    <div class="p-3"><a href="/Icon/Paste16"><Paste16 /></a></div>
    <div class="p-3"><a href="/Icon/Pencil16"><Pencil16 /></a></div>
    <div class="p-3"><a href="/Icon/People16"><People16 /></a></div>
    <div class="p-3"><a href="/Icon/Person16"><Person16 /></a></div>
    <div class="p-3"><a href="/Icon/PersonAdd16"><PersonAdd16 /></a></div>
    <div class="p-3"><a href="/Icon/PersonFill16"><PersonFill16 /></a></div>
    <div class="p-3"><a href="/Icon/Pin16"><Pin16 /></a></div>
    <div class="p-3"><a href="/Icon/PinSlash16"><PinSlash16 /></a></div>
    <div class="p-3"><a href="/Icon/PivotColumn16"><PivotColumn16 /></a></div>
    <div class="p-3"><a href="/Icon/Play16"><Play16 /></a></div>
    <div class="p-3"><a href="/Icon/Plug16"><Plug16 /></a></div>
    <div class="p-3"><a href="/Icon/Plus16"><Plus16 /></a></div>
    <div class="p-3"><a href="/Icon/PlusCircle16"><PlusCircle16 /></a></div>
    <div class="p-3"><a href="/Icon/Project16"><Project16 /></a></div>
    <div class="p-3"><a href="/Icon/ProjectRoadmap16"><ProjectRoadmap16 /></a></div>
    <div class="p-3"><a href="/Icon/ProjectSymlink16"><ProjectSymlink16 /></a></div>
    <div class="p-3"><a href="/Icon/ProjectTemplate16"><ProjectTemplate16 /></a></div>
    <div class="p-3"><a href="/Icon/Pulse16"><Pulse16 /></a></div>
    <div class="p-3"><a href="/Icon/Question16"><Question16 /></a></div>
    <div class="p-3"><a href="/Icon/Quote16"><Quote16 /></a></div>
    <div class="p-3"><a href="/Icon/Read16"><Read16 /></a></div>
    <div class="p-3"><a href="/Icon/Redo16"><Redo16 /></a></div>
    <div class="p-3"><a href="/Icon/RelFilePath16"><RelFilePath16 /></a></div>
    <div class="p-3"><a href="/Icon/Reply16"><Reply16 /></a></div>
    <div class="p-3"><a href="/Icon/Repo16"><Repo16 /></a></div>
    <div class="p-3"><a href="/Icon/RepoClone16"><RepoClone16 /></a></div>
    <div class="p-3"><a href="/Icon/RepoDeleted16"><RepoDeleted16 /></a></div>
    <div class="p-3"><a href="/Icon/RepoForked16"><RepoForked16 /></a></div>
    <div class="p-3"><a href="/Icon/RepoLocked16"><RepoLocked16 /></a></div>
    <div class="p-3"><a href="/Icon/RepoPull16"><RepoPull16 /></a></div>
    <div class="p-3"><a href="/Icon/RepoPush16"><RepoPush16 /></a></div>
    <div class="p-3"><a href="/Icon/RepoTemplate16"><RepoTemplate16 /></a></div>
    <div class="p-3"><a href="/Icon/Report16"><Report16 /></a></div>
    <div class="p-3"><a href="/Icon/Rocket16"><Rocket16 /></a></div>
    <div class="p-3"><a href="/Icon/Rows16"><Rows16 /></a></div>
    <div class="p-3"><a href="/Icon/Rss16"><Rss16 /></a></div>
    <div class="p-3"><a href="/Icon/Ruby16"><Ruby16 /></a></div>
    <div class="p-3"><a href="/Icon/ScreenFull16"><ScreenFull16 /></a></div>
    <div class="p-3"><a href="/Icon/ScreenNormal16"><ScreenNormal16 /></a></div>
    <div class="p-3"><a href="/Icon/Search16"><Search16 /></a></div>
    <div class="p-3"><a href="/Icon/Server16"><Server16 /></a></div>
    <div class="p-3"><a href="/Icon/Share16"><Share16 /></a></div>
    <div class="p-3"><a href="/Icon/ShareAndroid16"><ShareAndroid16 /></a></div>
    <div class="p-3"><a href="/Icon/Shield16"><Shield16 /></a></div>
    <div class="p-3"><a href="/Icon/ShieldCheck16"><ShieldCheck16 /></a></div>
    <div class="p-3"><a href="/Icon/ShieldLock16"><ShieldLock16 /></a></div>
    <div class="p-3"><a href="/Icon/ShieldSlash16"><ShieldSlash16 /></a></div>
    <div class="p-3"><a href="/Icon/ShieldX16"><ShieldX16 /></a></div>
    <div class="p-3"><a href="/Icon/SidebarCollapse16"><SidebarCollapse16 /></a></div>
    <div class="p-3"><a href="/Icon/SidebarExpand16"><SidebarExpand16 /></a></div>
    <div class="p-3"><a href="/Icon/SignIn16"><SignIn16 /></a></div>
    <div class="p-3"><a href="/Icon/SignOut16"><SignOut16 /></a></div>
    <div class="p-3"><a href="/Icon/SingleSelect16"><SingleSelect16 /></a></div>
    <div class="p-3"><a href="/Icon/Skip16"><Skip16 /></a></div>
    <div class="p-3"><a href="/Icon/SkipFill16"><SkipFill16 /></a></div>
    <div class="p-3"><a href="/Icon/Sliders16"><Sliders16 /></a></div>
    <div class="p-3"><a href="/Icon/Smiley16"><Smiley16 /></a></div>
    <div class="p-3"><a href="/Icon/SortAsc16"><SortAsc16 /></a></div>
    <div class="p-3"><a href="/Icon/SortDesc16"><SortDesc16 /></a></div>
    <div class="p-3"><a href="/Icon/SparkleFill16"><SparkleFill16 /></a></div>
    <div class="p-3"><a href="/Icon/SponsorTiers16"><SponsorTiers16 /></a></div>
    <div class="p-3"><a href="/Icon/Square16"><Square16 /></a></div>
    <div class="p-3"><a href="/Icon/SquareFill16"><SquareFill16 /></a></div>
    <div class="p-3"><a href="/Icon/Squirrel16"><Squirrel16 /></a></div>
    <div class="p-3"><a href="/Icon/Stack16"><Stack16 /></a></div>
    <div class="p-3"><a href="/Icon/Star16"><Star16 /></a></div>
    <div class="p-3"><a href="/Icon/StarFill16"><StarFill16 /></a></div>
    <div class="p-3"><a href="/Icon/Stop16"><Stop16 /></a></div>
    <div class="p-3"><a href="/Icon/Stopwatch16"><Stopwatch16 /></a></div>
    <div class="p-3"><a href="/Icon/Strikethrough16"><Strikethrough16 /></a></div>
    <div class="p-3"><a href="/Icon/Sun16"><Sun16 /></a></div>
    <div class="p-3"><a href="/Icon/Sync16"><Sync16 /></a></div>
    <div class="p-3"><a href="/Icon/TabExternal16"><TabExternal16 /></a></div>
    <div class="p-3"><a href="/Icon/Table16"><Table16 /></a></div>
    <div class="p-3"><a href="/Icon/Tag16"><Tag16 /></a></div>
    <div class="p-3"><a href="/Icon/Tasklist16"><Tasklist16 /></a></div>
    <div class="p-3"><a href="/Icon/Telescope16"><Telescope16 /></a></div>
    <div class="p-3"><a href="/Icon/TelescopeFill16"><TelescopeFill16 /></a></div>
    <div class="p-3"><a href="/Icon/Terminal16"><Terminal16 /></a></div>
    <div class="p-3"><a href="/Icon/ThreeBars16"><ThreeBars16 /></a></div>
    <div class="p-3"><a href="/Icon/Thumbsdown16"><Thumbsdown16 /></a></div>
    <div class="p-3"><a href="/Icon/Thumbsup16"><Thumbsup16 /></a></div>
    <div class="p-3"><a href="/Icon/Tools16"><Tools16 /></a></div>
    <div class="p-3"><a href="/Icon/TrackedByClosedCompleted16"><TrackedByClosedCompleted16 /></a></div>
    <div class="p-3"><a href="/Icon/TrackedByClosedNotPlanned16"><TrackedByClosedNotPlanned16 /></a></div>
    <div class="p-3"><a href="/Icon/Trash16"><Trash16 /></a></div>
    <div class="p-3"><a href="/Icon/TriangleDown16"><TriangleDown16 /></a></div>
    <div class="p-3"><a href="/Icon/TriangleLeft16"><TriangleLeft16 /></a></div>
    <div class="p-3"><a href="/Icon/TriangleRight16"><TriangleRight16 /></a></div>
    <div class="p-3"><a href="/Icon/TriangleUp16"><TriangleUp16 /></a></div>
    <div class="p-3"><a href="/Icon/Trophy16"><Trophy16 /></a></div>
    <div class="p-3"><a href="/Icon/Typography16"><Typography16 /></a></div>
    <div class="p-3"><a href="/Icon/Undo16"><Undo16 /></a></div>
    <div class="p-3"><a href="/Icon/Unfold16"><Unfold16 /></a></div>
    <div class="p-3"><a href="/Icon/Unlink16"><Unlink16 /></a></div>
    <div class="p-3"><a href="/Icon/Unlock16"><Unlock16 /></a></div>
    <div class="p-3"><a href="/Icon/Unmute16"><Unmute16 /></a></div>
    <div class="p-3"><a href="/Icon/Unread16"><Unread16 /></a></div>
    <div class="p-3"><a href="/Icon/Unverified16"><Unverified16 /></a></div>
    <div class="p-3"><a href="/Icon/Upload16"><Upload16 /></a></div>
    <div class="p-3"><a href="/Icon/Verified16"><Verified16 /></a></div>
    <div class="p-3"><a href="/Icon/Versions16"><Versions16 /></a></div>
    <div class="p-3"><a href="/Icon/Video16"><Video16 /></a></div>
    <div class="p-3"><a href="/Icon/Webhook16"><Webhook16 /></a></div>
    <div class="p-3"><a href="/Icon/Workflow16"><Workflow16 /></a></div>
    <div class="p-3"><a href="/Icon/X16"><X16 /></a></div>
    <div class="p-3"><a href="/Icon/XCircle16"><XCircle16 /></a></div>
    <div class="p-3"><a href="/Icon/XCircleFill16"><XCircleFill16 /></a></div>
    <div class="p-3"><a href="/Icon/Zap16"><Zap16 /></a></div>
    <div class="p-3"><a href="/Icon/ZoomIn16"><ZoomIn16 /></a></div>
    <div class="p-3"><a href="/Icon/ZoomOut16"><ZoomOut16 /></a></div>

  </div>
  <div class="d-flex pb-3">
    <span class="fw-bold fs-x-large">24px</span>
  </div>
  <div class="d-flex pb-3 flex-wrap-wrap">
        <div class="p-3"><a href="/Icon/Alert24"><Alert24 /></a></div>
    <div class="p-3"><a href="/Icon/AlertFill24"><AlertFill24 /></a></div>
    <div class="p-3"><a href="/Icon/Archive24"><Archive24 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowBoth24"><ArrowBoth24 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowDown24"><ArrowDown24 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowDownLeft24"><ArrowDownLeft24 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowDownRight24"><ArrowDownRight24 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowLeft24"><ArrowLeft24 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowRight24"><ArrowRight24 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowSwitch24"><ArrowSwitch24 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowUp24"><ArrowUp24 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowUpLeft24"><ArrowUpLeft24 /></a></div>
    <div class="p-3"><a href="/Icon/ArrowUpRight24"><ArrowUpRight24 /></a></div>
    <div class="p-3"><a href="/Icon/Beaker24"><Beaker24 /></a></div>
    <div class="p-3"><a href="/Icon/Bell24"><Bell24 /></a></div>
    <div class="p-3"><a href="/Icon/BellFill24"><BellFill24 /></a></div>
    <div class="p-3"><a href="/Icon/BellSlash24"><BellSlash24 /></a></div>
    <div class="p-3"><a href="/Icon/Blocked24"><Blocked24 /></a></div>
    <div class="p-3"><a href="/Icon/Bold24"><Bold24 /></a></div>
    <div class="p-3"><a href="/Icon/Book24"><Book24 /></a></div>
    <div class="p-3"><a href="/Icon/Bookmark24"><Bookmark24 /></a></div>
    <div class="p-3"><a href="/Icon/BookmarkFill24"><BookmarkFill24 /></a></div>
    <div class="p-3"><a href="/Icon/BookmarkSlash24"><BookmarkSlash24 /></a></div>
    <div class="p-3"><a href="/Icon/BookmarkSlashFill24"><BookmarkSlashFill24 /></a></div>
    <div class="p-3"><a href="/Icon/Briefcase24"><Briefcase24 /></a></div>
    <div class="p-3"><a href="/Icon/Broadcast24"><Broadcast24 /></a></div>
    <div class="p-3"><a href="/Icon/Browser24"><Browser24 /></a></div>
    <div class="p-3"><a href="/Icon/Bug24"><Bug24 /></a></div>
    <div class="p-3"><a href="/Icon/Calendar24"><Calendar24 /></a></div>
    <div class="p-3"><a href="/Icon/Check24"><Check24 /></a></div>
    <div class="p-3"><a href="/Icon/CheckCircle24"><CheckCircle24 /></a></div>
    <div class="p-3"><a href="/Icon/CheckCircleFill24"><CheckCircleFill24 /></a></div>
    <div class="p-3"><a href="/Icon/Checkbox24"><Checkbox24 /></a></div>
    <div class="p-3"><a href="/Icon/Checklist24"><Checklist24 /></a></div>
    <div class="p-3"><a href="/Icon/ChevronDown24"><ChevronDown24 /></a></div>
    <div class="p-3"><a href="/Icon/ChevronLeft24"><ChevronLeft24 /></a></div>
    <div class="p-3"><a href="/Icon/ChevronRight24"><ChevronRight24 /></a></div>
    <div class="p-3"><a href="/Icon/ChevronUp24"><ChevronUp24 /></a></div>
    <div class="p-3"><a href="/Icon/Circle24"><Circle24 /></a></div>
    <div class="p-3"><a href="/Icon/CircleSlash24"><CircleSlash24 /></a></div>
    <div class="p-3"><a href="/Icon/Clock24"><Clock24 /></a></div>
    <div class="p-3"><a href="/Icon/ClockFill24"><ClockFill24 /></a></div>
    <div class="p-3"><a href="/Icon/Cloud24"><Cloud24 /></a></div>
    <div class="p-3"><a href="/Icon/CloudOffline24"><CloudOffline24 /></a></div>
    <div class="p-3"><a href="/Icon/Code24"><Code24 /></a></div>
    <div class="p-3"><a href="/Icon/CodeOfConduct24"><CodeOfConduct24 /></a></div>
    <div class="p-3"><a href="/Icon/CodeReview24"><CodeReview24 /></a></div>
    <div class="p-3"><a href="/Icon/CodeSquare24"><CodeSquare24 /></a></div>
    <div class="p-3"><a href="/Icon/Codescan24"><Codescan24 /></a></div>
    <div class="p-3"><a href="/Icon/CodescanCheckmark24"><CodescanCheckmark24 /></a></div>
    <div class="p-3"><a href="/Icon/Codespaces24"><Codespaces24 /></a></div>
    <div class="p-3"><a href="/Icon/Columns24"><Columns24 /></a></div>
    <div class="p-3"><a href="/Icon/CommandPalette24"><CommandPalette24 /></a></div>
    <div class="p-3"><a href="/Icon/Comment24"><Comment24 /></a></div>
    <div class="p-3"><a href="/Icon/CommentDiscussion24"><CommentDiscussion24 /></a></div>
    <div class="p-3"><a href="/Icon/Commit24"><Commit24 /></a></div>
    <div class="p-3"><a href="/Icon/Container24"><Container24 /></a></div>
    <div class="p-3"><a href="/Icon/Copilot24"><Copilot24 /></a></div>
    <div class="p-3"><a href="/Icon/Copy24"><Copy24 /></a></div>
    <div class="p-3"><a href="/Icon/Cpu24"><Cpu24 /></a></div>
    <div class="p-3"><a href="/Icon/CreditCard24"><CreditCard24 /></a></div>
    <div class="p-3"><a href="/Icon/CrossReference24"><CrossReference24 /></a></div>
    <div class="p-3"><a href="/Icon/Dash24"><Dash24 /></a></div>
    <div class="p-3"><a href="/Icon/Database24"><Database24 /></a></div>
    <div class="p-3"><a href="/Icon/Dependabot24"><Dependabot24 /></a></div>
    <div class="p-3"><a href="/Icon/DesktopDownload24"><DesktopDownload24 /></a></div>
    <div class="p-3"><a href="/Icon/DeviceCameraVideo24"><DeviceCameraVideo24 /></a></div>
    <div class="p-3"><a href="/Icon/DeviceDesktop24"><DeviceDesktop24 /></a></div>
    <div class="p-3"><a href="/Icon/DeviceMobile24"><DeviceMobile24 /></a></div>
    <div class="p-3"><a href="/Icon/Devices24"><Devices24 /></a></div>
    <div class="p-3"><a href="/Icon/Diamond24"><Diamond24 /></a></div>
    <div class="p-3"><a href="/Icon/Diff24"><Diff24 /></a></div>
    <div class="p-3"><a href="/Icon/DiscussionClosed24"><DiscussionClosed24 /></a></div>
    <div class="p-3"><a href="/Icon/DiscussionDuplicate24"><DiscussionDuplicate24 /></a></div>
    <div class="p-3"><a href="/Icon/DiscussionOutdated24"><DiscussionOutdated24 /></a></div>
    <div class="p-3"><a href="/Icon/Dot24"><Dot24 /></a></div>
    <div class="p-3"><a href="/Icon/DotFill24"><DotFill24 /></a></div>
    <div class="p-3"><a href="/Icon/Download24"><Download24 /></a></div>
    <div class="p-3"><a href="/Icon/Duplicate24"><Duplicate24 /></a></div>
    <div class="p-3"><a href="/Icon/Eye24"><Eye24 /></a></div>
    <div class="p-3"><a href="/Icon/EyeClosed24"><EyeClosed24 /></a></div>
    <div class="p-3"><a href="/Icon/File24"><File24 /></a></div>
    <div class="p-3"><a href="/Icon/FileBinary24"><FileBinary24 /></a></div>
    <div class="p-3"><a href="/Icon/FileCode24"><FileCode24 /></a></div>
    <div class="p-3"><a href="/Icon/FileDiff24"><FileDiff24 /></a></div>
    <div class="p-3"><a href="/Icon/FileDirectory24"><FileDirectory24 /></a></div>
    <div class="p-3"><a href="/Icon/FileDirectoryFill24"><FileDirectoryFill24 /></a></div>
    <div class="p-3"><a href="/Icon/FileDirectorySymlink24"><FileDirectorySymlink24 /></a></div>
    <div class="p-3"><a href="/Icon/FileMedia24"><FileMedia24 /></a></div>
    <div class="p-3"><a href="/Icon/FileSubmodule24"><FileSubmodule24 /></a></div>
    <div class="p-3"><a href="/Icon/FileSymlinkFile24"><FileSymlinkFile24 /></a></div>
    <div class="p-3"><a href="/Icon/FileZip24"><FileZip24 /></a></div>
    <div class="p-3"><a href="/Icon/Filter24"><Filter24 /></a></div>
    <div class="p-3"><a href="/Icon/Flame24"><Flame24 /></a></div>
    <div class="p-3"><a href="/Icon/Fold24"><Fold24 /></a></div>
    <div class="p-3"><a href="/Icon/FoldDown24"><FoldDown24 /></a></div>
    <div class="p-3"><a href="/Icon/FoldUp24"><FoldUp24 /></a></div>
    <div class="p-3"><a href="/Icon/Gear24"><Gear24 /></a></div>
    <div class="p-3"><a href="/Icon/Gift24"><Gift24 /></a></div>
    <div class="p-3"><a href="/Icon/GitBranch24"><GitBranch24 /></a></div>
    <div class="p-3"><a href="/Icon/GitCommit24"><GitCommit24 /></a></div>
    <div class="p-3"><a href="/Icon/GitCompare24"><GitCompare24 /></a></div>
    <div class="p-3"><a href="/Icon/GitMerge24"><GitMerge24 /></a></div>
    <div class="p-3"><a href="/Icon/GitMergeQueue24"><GitMergeQueue24 /></a></div>
    <div class="p-3"><a href="/Icon/GitPullRequest24"><GitPullRequest24 /></a></div>
    <div class="p-3"><a href="/Icon/GitPullRequestClosed24"><GitPullRequestClosed24 /></a></div>
    <div class="p-3"><a href="/Icon/GitPullRequestDraft24"><GitPullRequestDraft24 /></a></div>
    <div class="p-3"><a href="/Icon/Globe24"><Globe24 /></a></div>
    <div class="p-3"><a href="/Icon/Goal24"><Goal24 /></a></div>
    <div class="p-3"><a href="/Icon/Grabber24"><Grabber24 /></a></div>
    <div class="p-3"><a href="/Icon/Graph24"><Graph24 /></a></div>
    <div class="p-3"><a href="/Icon/Hash24"><Hash24 /></a></div>
    <div class="p-3"><a href="/Icon/Heading24"><Heading24 /></a></div>
    <div class="p-3"><a href="/Icon/Heart24"><Heart24 /></a></div>
    <div class="p-3"><a href="/Icon/HeartFill24"><HeartFill24 /></a></div>
    <div class="p-3"><a href="/Icon/History24"><History24 /></a></div>
    <div class="p-3"><a href="/Icon/Home24"><Home24 /></a></div>
    <div class="p-3"><a href="/Icon/HomeFill24"><HomeFill24 /></a></div>
    <div class="p-3"><a href="/Icon/HorizontalRule24"><HorizontalRule24 /></a></div>
    <div class="p-3"><a href="/Icon/Hourglass24"><Hourglass24 /></a></div>
    <div class="p-3"><a href="/Icon/Hubot24"><Hubot24 /></a></div>
    <div class="p-3"><a href="/Icon/Image24"><Image24 /></a></div>
    <div class="p-3"><a href="/Icon/Inbox24"><Inbox24 /></a></div>
    <div class="p-3"><a href="/Icon/Infinity24"><Infinity24 /></a></div>
    <div class="p-3"><a href="/Icon/Info24"><Info24 /></a></div>
    <div class="p-3"><a href="/Icon/IssueClosed24"><IssueClosed24 /></a></div>
    <div class="p-3"><a href="/Icon/IssueDraft24"><IssueDraft24 /></a></div>
    <div class="p-3"><a href="/Icon/IssueOpened24"><IssueOpened24 /></a></div>
    <div class="p-3"><a href="/Icon/IssueReopened24"><IssueReopened24 /></a></div>
    <div class="p-3"><a href="/Icon/IssueTrackedBy24"><IssueTrackedBy24 /></a></div>
    <div class="p-3"><a href="/Icon/IssueTracks24"><IssueTracks24 /></a></div>
    <div class="p-3"><a href="/Icon/Italic24"><Italic24 /></a></div>
    <div class="p-3"><a href="/Icon/Iterations24"><Iterations24 /></a></div>
    <div class="p-3"><a href="/Icon/KebabHorizontal24"><KebabHorizontal24 /></a></div>
    <div class="p-3"><a href="/Icon/Key24"><Key24 /></a></div>
    <div class="p-3"><a href="/Icon/Law24"><Law24 /></a></div>
    <div class="p-3"><a href="/Icon/LightBulb24"><LightBulb24 /></a></div>
    <div class="p-3"><a href="/Icon/Link24"><Link24 /></a></div>
    <div class="p-3"><a href="/Icon/LinkExternal24"><LinkExternal24 /></a></div>
    <div class="p-3"><a href="/Icon/ListOrdered24"><ListOrdered24 /></a></div>
    <div class="p-3"><a href="/Icon/ListUnordered24"><ListUnordered24 /></a></div>
    <div class="p-3"><a href="/Icon/Location24"><Location24 /></a></div>
    <div class="p-3"><a href="/Icon/Lock24"><Lock24 /></a></div>
    <div class="p-3"><a href="/Icon/Log24"><Log24 /></a></div>
    <div class="p-3"><a href="/Icon/Mail24"><Mail24 /></a></div>
    <div class="p-3"><a href="/Icon/Megaphone24"><Megaphone24 /></a></div>
    <div class="p-3"><a href="/Icon/Mention24"><Mention24 /></a></div>
    <div class="p-3"><a href="/Icon/Milestone24"><Milestone24 /></a></div>
    <div class="p-3"><a href="/Icon/Mirror24"><Mirror24 /></a></div>
    <div class="p-3"><a href="/Icon/Moon24"><Moon24 /></a></div>
    <div class="p-3"><a href="/Icon/MortarBoard24"><MortarBoard24 /></a></div>
    <div class="p-3"><a href="/Icon/MoveToBottom24"><MoveToBottom24 /></a></div>
    <div class="p-3"><a href="/Icon/MoveToEnd24"><MoveToEnd24 /></a></div>
    <div class="p-3"><a href="/Icon/MoveToStart24"><MoveToStart24 /></a></div>
    <div class="p-3"><a href="/Icon/MoveToTop24"><MoveToTop24 /></a></div>
    <div class="p-3"><a href="/Icon/MultiSelect24"><MultiSelect24 /></a></div>
    <div class="p-3"><a href="/Icon/Mute24"><Mute24 /></a></div>
    <div class="p-3"><a href="/Icon/NoEntry24"><NoEntry24 /></a></div>
    <div class="p-3"><a href="/Icon/NorthStar24"><NorthStar24 /></a></div>
    <div class="p-3"><a href="/Icon/Note24"><Note24 /></a></div>
    <div class="p-3"><a href="/Icon/Number24"><Number24 /></a></div>
    <div class="p-3"><a href="/Icon/Organization24"><Organization24 /></a></div>
    <div class="p-3"><a href="/Icon/Package24"><Package24 /></a></div>
    <div class="p-3"><a href="/Icon/PackageDependencies24"><PackageDependencies24 /></a></div>
    <div class="p-3"><a href="/Icon/PackageDependents24"><PackageDependents24 /></a></div>
    <div class="p-3"><a href="/Icon/PaperAirplane24"><PaperAirplane24 /></a></div>
    <div class="p-3"><a href="/Icon/Paperclip24"><Paperclip24 /></a></div>
    <div class="p-3"><a href="/Icon/PasskeyFill24"><PasskeyFill24 /></a></div>
    <div class="p-3"><a href="/Icon/Paste24"><Paste24 /></a></div>
    <div class="p-3"><a href="/Icon/Pencil24"><Pencil24 /></a></div>
    <div class="p-3"><a href="/Icon/People24"><People24 /></a></div>
    <div class="p-3"><a href="/Icon/Person24"><Person24 /></a></div>
    <div class="p-3"><a href="/Icon/PersonAdd24"><PersonAdd24 /></a></div>
    <div class="p-3"><a href="/Icon/PersonFill24"><PersonFill24 /></a></div>
    <div class="p-3"><a href="/Icon/Pin24"><Pin24 /></a></div>
    <div class="p-3"><a href="/Icon/PinSlash24"><PinSlash24 /></a></div>
    <div class="p-3"><a href="/Icon/PivotColumn24"><PivotColumn24 /></a></div>
    <div class="p-3"><a href="/Icon/Play24"><Play24 /></a></div>
    <div class="p-3"><a href="/Icon/Plug24"><Plug24 /></a></div>
    <div class="p-3"><a href="/Icon/Plus24"><Plus24 /></a></div>
    <div class="p-3"><a href="/Icon/PlusCircle24"><PlusCircle24 /></a></div>
    <div class="p-3"><a href="/Icon/Project24"><Project24 /></a></div>
    <div class="p-3"><a href="/Icon/ProjectRoadmap24"><ProjectRoadmap24 /></a></div>
    <div class="p-3"><a href="/Icon/ProjectSymlink24"><ProjectSymlink24 /></a></div>
    <div class="p-3"><a href="/Icon/ProjectTemplate24"><ProjectTemplate24 /></a></div>
    <div class="p-3"><a href="/Icon/Pulse24"><Pulse24 /></a></div>
    <div class="p-3"><a href="/Icon/Question24"><Question24 /></a></div>
    <div class="p-3"><a href="/Icon/Quote24"><Quote24 /></a></div>
    <div class="p-3"><a href="/Icon/Read24"><Read24 /></a></div>
    <div class="p-3"><a href="/Icon/RelFilePath24"><RelFilePath24 /></a></div>
    <div class="p-3"><a href="/Icon/Reply24"><Reply24 /></a></div>
    <div class="p-3"><a href="/Icon/Repo24"><Repo24 /></a></div>
    <div class="p-3"><a href="/Icon/RepoForked24"><RepoForked24 /></a></div>
    <div class="p-3"><a href="/Icon/RepoLocked24"><RepoLocked24 /></a></div>
    <div class="p-3"><a href="/Icon/RepoPush24"><RepoPush24 /></a></div>
    <div class="p-3"><a href="/Icon/RepoTemplate24"><RepoTemplate24 /></a></div>
    <div class="p-3"><a href="/Icon/Report24"><Report24 /></a></div>
    <div class="p-3"><a href="/Icon/Rocket24"><Rocket24 /></a></div>
    <div class="p-3"><a href="/Icon/Rows24"><Rows24 /></a></div>
    <div class="p-3"><a href="/Icon/Rss24"><Rss24 /></a></div>
    <div class="p-3"><a href="/Icon/Ruby24"><Ruby24 /></a></div>
    <div class="p-3"><a href="/Icon/ScreenFull24"><ScreenFull24 /></a></div>
    <div class="p-3"><a href="/Icon/ScreenNormal24"><ScreenNormal24 /></a></div>
    <div class="p-3"><a href="/Icon/Search24"><Search24 /></a></div>
    <div class="p-3"><a href="/Icon/Server24"><Server24 /></a></div>
    <div class="p-3"><a href="/Icon/Share24"><Share24 /></a></div>
    <div class="p-3"><a href="/Icon/ShareAndroid24"><ShareAndroid24 /></a></div>
    <div class="p-3"><a href="/Icon/Shield24"><Shield24 /></a></div>
    <div class="p-3"><a href="/Icon/ShieldCheck24"><ShieldCheck24 /></a></div>
    <div class="p-3"><a href="/Icon/ShieldLock24"><ShieldLock24 /></a></div>
    <div class="p-3"><a href="/Icon/ShieldSlash24"><ShieldSlash24 /></a></div>
    <div class="p-3"><a href="/Icon/ShieldX24"><ShieldX24 /></a></div>
    <div class="p-3"><a href="/Icon/SidebarCollapse24"><SidebarCollapse24 /></a></div>
    <div class="p-3"><a href="/Icon/SidebarExpand24"><SidebarExpand24 /></a></div>
    <div class="p-3"><a href="/Icon/SignIn24"><SignIn24 /></a></div>
    <div class="p-3"><a href="/Icon/SignOut24"><SignOut24 /></a></div>
    <div class="p-3"><a href="/Icon/SingleSelect24"><SingleSelect24 /></a></div>
    <div class="p-3"><a href="/Icon/Skip24"><Skip24 /></a></div>
    <div class="p-3"><a href="/Icon/SkipFill24"><SkipFill24 /></a></div>
    <div class="p-3"><a href="/Icon/Smiley24"><Smiley24 /></a></div>
    <div class="p-3"><a href="/Icon/SortAsc24"><SortAsc24 /></a></div>
    <div class="p-3"><a href="/Icon/SortDesc24"><SortDesc24 /></a></div>
    <div class="p-3"><a href="/Icon/SponsorTiers24"><SponsorTiers24 /></a></div>
    <div class="p-3"><a href="/Icon/Square24"><Square24 /></a></div>
    <div class="p-3"><a href="/Icon/SquareFill24"><SquareFill24 /></a></div>
    <div class="p-3"><a href="/Icon/Squirrel24"><Squirrel24 /></a></div>
    <div class="p-3"><a href="/Icon/Stack24"><Stack24 /></a></div>
    <div class="p-3"><a href="/Icon/Star24"><Star24 /></a></div>
    <div class="p-3"><a href="/Icon/StarFill24"><StarFill24 /></a></div>
    <div class="p-3"><a href="/Icon/Stop24"><Stop24 /></a></div>
    <div class="p-3"><a href="/Icon/Stopwatch24"><Stopwatch24 /></a></div>
    <div class="p-3"><a href="/Icon/Strikethrough24"><Strikethrough24 /></a></div>
    <div class="p-3"><a href="/Icon/Sun24"><Sun24 /></a></div>
    <div class="p-3"><a href="/Icon/Sync24"><Sync24 /></a></div>
    <div class="p-3"><a href="/Icon/Tab24"><Tab24 /></a></div>
    <div class="p-3"><a href="/Icon/Table24"><Table24 /></a></div>
    <div class="p-3"><a href="/Icon/Tag24"><Tag24 /></a></div>
    <div class="p-3"><a href="/Icon/Tasklist24"><Tasklist24 /></a></div>
    <div class="p-3"><a href="/Icon/Telescope24"><Telescope24 /></a></div>
    <div class="p-3"><a href="/Icon/TelescopeFill24"><TelescopeFill24 /></a></div>
    <div class="p-3"><a href="/Icon/Terminal24"><Terminal24 /></a></div>
    <div class="p-3"><a href="/Icon/Thumbsdown24"><Thumbsdown24 /></a></div>
    <div class="p-3"><a href="/Icon/Thumbsup24"><Thumbsup24 /></a></div>
    <div class="p-3"><a href="/Icon/Tools24"><Tools24 /></a></div>
    <div class="p-3"><a href="/Icon/TrackedByClosedCompleted24"><TrackedByClosedCompleted24 /></a></div>
    <div class="p-3"><a href="/Icon/TrackedByClosedNotPlanned24"><TrackedByClosedNotPlanned24 /></a></div>
    <div class="p-3"><a href="/Icon/Trash24"><Trash24 /></a></div>
    <div class="p-3"><a href="/Icon/TriangleDown24"><TriangleDown24 /></a></div>
    <div class="p-3"><a href="/Icon/TriangleLeft24"><TriangleLeft24 /></a></div>
    <div class="p-3"><a href="/Icon/TriangleRight24"><TriangleRight24 /></a></div>
    <div class="p-3"><a href="/Icon/TriangleUp24"><TriangleUp24 /></a></div>
    <div class="p-3"><a href="/Icon/Trophy24"><Trophy24 /></a></div>
    <div class="p-3"><a href="/Icon/Typography24"><Typography24 /></a></div>
    <div class="p-3"><a href="/Icon/Unfold24"><Unfold24 /></a></div>
    <div class="p-3"><a href="/Icon/Unlink24"><Unlink24 /></a></div>
    <div class="p-3"><a href="/Icon/Unlock24"><Unlock24 /></a></div>
    <div class="p-3"><a href="/Icon/Unmute24"><Unmute24 /></a></div>
    <div class="p-3"><a href="/Icon/Unread24"><Unread24 /></a></div>
    <div class="p-3"><a href="/Icon/Unverified24"><Unverified24 /></a></div>
    <div class="p-3"><a href="/Icon/Upload24"><Upload24 /></a></div>
    <div class="p-3"><a href="/Icon/Verified24"><Verified24 /></a></div>
    <div class="p-3"><a href="/Icon/Versions24"><Versions24 /></a></div>
    <div class="p-3"><a href="/Icon/Video24"><Video24 /></a></div>
    <div class="p-3"><a href="/Icon/Workflow24"><Workflow24 /></a></div>
    <div class="p-3"><a href="/Icon/X24"><X24 /></a></div>
    <div class="p-3"><a href="/Icon/XCircle24"><XCircle24 /></a></div>
    <div class="p-3"><a href="/Icon/XCircleFill24"><XCircleFill24 /></a></div>
    <div class="p-3"><a href="/Icon/Zap24"><Zap24 /></a></div>
    <div class="p-3"><a href="/Icon/ZoomIn24"><ZoomIn24 /></a></div>
    <div class="p-3"><a href="/Icon/ZoomOut24"><ZoomOut24 /></a></div>

  </div>
  <div class="d-flex pb-3">
    <span class="fw-bold fs-x-large">48px</span>
  </div>
  <div class="d-flex pb-3 flex-wrap-wrap">
        <div class="p-3"><a href="/Icon/Copilot48"><Copilot48 /></a></div>

  </div>
  <div class="d-flex pb-3">
    <span class="fw-bold fs-x-large">96px</span>
  </div>
  <div class="d-flex pb-3 flex-wrap-wrap">
        <div class="p-3"><a href="/Icon/Copilot96"><Copilot96 /></a></div>

  </div>
</div>