@using WebApp.Shared;

<div class="mx-auto max-w-lg py-3 px-5 lg-px-4 md-px-3">
  <div class="d-flex flex-direction-row pb-5 lg-pb-0">
    <a href="/" class="d-flex color-1">
      <Logo Size="64"/>
      <div class="d-flex align-items-center justify-content-center px-3 sm-d-none">
        <span class="fs-x-large fw-bold">BlazorOcticons</span>
      </div>
    </a>
    <div class="flex-grow-1"></div>
    <div class="d-flex md-d-none">
      <div class="d-flex align-items-center justify-content-center">
        <a type="button" class="d-flex px-3 lg-px-2 py-2 text-decoration-none br-2 scale-on-hover color-1 cursor-pointer" onclick="scrollToId('install');">
          <div class="d-flex align-items-center justify-content-center px-2">
            <span class="fs-large fw-bold">Install</span>
          </div>
        </a>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <a type="button" class="d-flex px-3 lg-px-2 py-2 text-decoration-none br-2 scale-on-hover color-1 cursor-pointer" onclick="scrollToId('usage');">
          <div class="d-flex align-items-center justify-content-center px-2">
            <span class="fs-large fw-bold">Usage</span>
          </div>
        </a>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <a type="button" class="d-flex px-3 lg-px-2 py-2 text-decoration-none br-2 scale-on-hover color-1 cursor-pointer" onclick="scrollToId('demo');">
          <div class="d-flex align-items-center justify-content-center px-2">
            <span class="fs-large fw-bold">Demo</span>
          </div>
        </a>
      </div>
      <div class="d-flex pl-3 align-items-center justify-content-center">
        <a class="d-flex px-3 py-2 text-decoration-none br-2 scale-on-hover shadow color-1"
           href="https://github.com/BlazorOcticons/BlazorOcticons" rel="_noopener" target="_blank">
          <GitHubIcon Color="#702AF7" Size="24" />
          <div class="d-flex align-items-center justify-content-center px-2">
            <span class="fs-large fw-bold">Open source</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>