name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET SDKs
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build -c Release --no-restore

    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Build solution and generate NuGet package
      run: dotnet pack -c Release -o out

    - name: Publish Nuget to NuGet.org
      run: dotnet nuget push ./out/BlazorOcticons*.nupkg -k $NUGET_TOKEN -s https://api.nuget.org/v3/index.json --skip-duplicate --no-symbols
      env:
        NUGET_TOKEN: ${{ secrets.NUGET }}
